# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE / Editor
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# Logs and OS files
*.log
.DS_Store
Thumbs.db
